/* CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	/* 62.5% of typical 16px browser default = 10px */
	--base-font-size: 62.5%;

  /* Grid Defaults - default to match orig skeleton settings */
	--grid-max-width: 960px;

  /* #222222 - text color; button:hover:focus color */
	--text-color-normal: hsl(var(--theme-hue), 0%, 13%);

  /* transparent body background; textarea,select background */
	--background-color-primary: white;
	--background-color-secondary: gray;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;		/* changed from 15px in orig skeleton */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color-normal); 
  background-color: var(--background-color-primary);
}


  /* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
  background: rgba(34,34,34,0.85);
  padding: 0 15px;
	position: fixed;
	width: 100%;
  top: 0;
  z-index: 999;
}

.menu {   
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: #ccc;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu li button {
  color: white;
  background-color: inherit;
  border: none;
  outline:none;
  padding: 0.5em;
  margin: -0.5em;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
} 

.active .item {
  display: block;
}

/* Larger than phablet */
@media (min-width: 800px) {
  .menu {
    justify-content: center;
    align-items: flex-start;     
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    flex: 1;
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block; 
    width: auto;
  }
  
  .toggle {
    display: none;
  }
}


  /* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://live.staticflickr.com/7071/7176367881_57bb1b5d7e_b.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 4em;
  line-height: 1.2;
  letter-spacing: -.1rem;
  margin-bottom: 0.5rem;
}

.hero-logo {
  display: flex;
  justify-content: center;
}

.hero-logo img {
  width: 75%;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
}

.call-to-action button {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

@media (min-width: 600px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-logo img{
    width: 100%;
    grid-column: 1 / span 1;
  }

  .hero-content {
    padding-left: 20px;
    grid-column: 2 / span 2;
  }

  .call-to-action {
    margin-top: 10rem;
    justify-content: flex-end;
  }

  .call-to-action button {
    margin: 0;
  }

  .call-to-action button:first-child {
    margin-right: 20px;
  }
}


/* Find Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#find-us iframe {
  border: 0;
  min-height: 450px;
  width: 100%;
}


/* About Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-image img {
  width: 100%;
}

@media (min-width: 600px) {
  .about-image img{
    grid-column: 1 / span 1;
  }

  .about-content {
    grid-column: 2 / span 2;
  }
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.layout {
  display: grid;
  gap: 20px;
}

@media (min-width: 600px) {
	.layout {
		grid-template-columns: repeat(3, 1fr);
	}
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.alternating {
  background-color: var(--background-color-secondary);
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  margin: 2em 0;
  text-align: center;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2 {
  margin-top: 0;
  margin-bottom: 2rem;}

p {
  margin-bottom: 1.5em;
}
